<!-- css stub -->
html    {
         background-color: lightgrey;
        }

section {
	  height: 700px;
	  color: blue;
	  padding-top: 20px;
	  text-align: center;
	  
	}


	#top {
	  background: url('https://static.pexels.com/photos/33263/highspeed-photography-water-drop-of-water-alien-dance.jpg');
	  background-size: cover;
	 
	}


	#middle {
	  background: url('https://static.pexels.com/photos/195678/pexels-photo-195678.jpeg');
	  background-size: cover;
	
	}


	#bottom {
	  background: url('https://static.pexels.com/photos/169712/pexels-photo-169712.jpeg');
	  background-size: cover;
	 
	  color: white;
	}

h1      {
         margin-top: 2cm;
	 color: #e80a06;
        }

#top h1 {
         margin-top: 50px;
	 color: #1805c4;
        }


#middle h1 {
         margin-top: 220px;
	 color: #f9ed04;
        }



