<!-- css stub -->
section {
	  height: 700px;
	  color: blue;
	  padding-top: 20px;
	  text-align: center;
	}


	#top {
	  background: url('https://static.pexels.com/photos/33263/highspeed-photography-water-drop-of-water-alien-dance.jpg');
	  background-size: cover;
	}


	#middle {
	  background: url('https://static.pexels.com/photos/149542/pexels-photo-149542.jpeg');
	  background-size: cover;
	}


	#bottom {
	  background: url('https://static.pexels.com/photos/169712/pexels-photo-169712.jpeg');
	  background-size: cover;
	}
